# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
profiles.yml

# Airflow
logs/
airflow.db
airflow.cfg
standalone_admin_password.txt

# Data files
*.parquet
*.csv
data/

# OS
.DS_Store
